@media (max-width: 89em) {
  html {
    font-size: 72%;
  }
}
@media (max-width: 88em) {
  html {
    font-size: 71.5%;
  }
}
@media (max-width: 87em) {
  html {
    font-size: 70.5%;
  }
}
@media (max-width: 86em) {
  html {
    font-size: 69.5%;
  }
}
@media (max-width: 85em) {
  html {
    font-size: 68.5%;
  }
}
@media (max-width: 84em) {
  html {
    font-size: 67.5%;
  }
}
@media (max-width: 83em) {
  html {
    font-size: 66.5%;
  }
}
@media (max-width: 82em) {
  html {
    font-size: 65.5%;
  }
}
@media (max-width: 81em) {
  html {
    font-size: 64.5%;
  }
}
@media (max-width: 80em) {
  html {
    font-size: 63.5%;
  }
}
@media (max-width: 79em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 78em) {
  html {
    font-size: 61.5%;
  }
}
@media (max-width: 77em) {
  html {
    font-size: 60.5%;
  }
}
@media (max-width: 76em) {
  html {
    font-size: 59.5%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 58.5%;
  }
}
@media (max-width: 74em) {
  html {
    font-size: 57.5%;
  }
}
@media (max-width: 73em) {
  html {
    font-size: 56.5%;
  }
}
@media (max-width: 72em) {
  html {
    font-size: 55.5%;
  }
}
@media (max-width: 71em) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 70em) {
  html {
    font-size: 54.5%;
  }
}
@media (max-width: 69em) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 68em) {
  html {
    font-size: 53.5%;
  }
}
@media (max-width: 67em) {
  html {
    font-size: 53%;
  }
}
@media (max-width: 66em) {
  html {
    font-size: 52.5%;
  }
}
@media (max-width: 65em) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 64em) {
  html {
    font-size: 51.5%;
  }
}
@media (max-width: 63em) {
  html {
    font-size: 51%;
  }
}
@media (max-width: 62em) {
  html {
    font-size: 50.5%;
  }
}
@media (max-width: 61em) {
  html {
    font-size: 50%;
  }
  h1 {
    font-size: 4.4rem;
  }
}
@media (max-width: 60em) {
  html {
    font-size: 49.5%;
  }
}

@media (max-width: 58em) {
  html {
    font-size: 49%;
  }
}

@media (max-width: 56em) {
  html {
    font-size: 48.5%;
  }

  .features {
    margin: 0 8rem;
  }
}

@media (max-width: 54em) {
  html {
    font-size: 48%;
  }
  h1 {
    font-size: 4.2rem;
  }
  h4 {
    font-size: 2.4rem;
  }
}

@media (max-width: 52em) {
  html {
    font-size: 48%;
  }

  .operations__content {
    padding: 2.5rem 4rem 6.5rem 4rem;
  }
  .nav__item {
    margin-left: 2rem;
  }
  .nav__item--effect {
    padding: 2px 1.2rem;
  }
  .features {
    margin: 0 4rem;
  }
  .section__header {
    font-size: 3.6rem;
  }
  .header__title {
    background-image: linear-gradient(
      105deg,
      rgba(243, 243, 243, 0.92) 0%,
      rgba(255, 255, 255, 0.64) 56%,
      transparent 56%
    );
  }
}

@media (max-width: 50em) {
  html {
    font-size: 47%;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 46%;
  }
}

@media (max-width: 46em) {
  html {
    font-size: 45%;
  }
  .features {
    margin: 0 2rem;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 44%;
  }
  .nav {
    padding: 0 5rem 0 3rem;
  }
  .section__header {
    font-size: 3.2rem;
  }
}

@media (max-width: 42em) {
  html {
    font-size: 43%;
  }
  .features {
    margin: 0 1rem;
  }
}
@media (max-width: 40em) {
  html {
    font-size: 40%;
  }
  .header__title {
    background-image: linear-gradient(
      105deg,
      rgba(243, 243, 243, 0.92) 0%,
      rgba(255, 255, 255, 0.64) 60%,
      transparent 60%
    );
  }
}

@media (max-width: 38em) {
  /* .header video {
    display: none;
  } */

  .header__title {
    background-image: linear-gradient(
      105deg,
      rgba(243, 243, 243, 0.92) 0%,
      rgba(255, 255, 255, 0.64) 60%,
      transparent 60%
    );
    grid-template-columns: 100%;
    justify-content: start;
  }

  .nav__item--effect {
    padding: 2px 4px;
  }

  .nav {
    padding: 0 4rem 0 2rem;
  }

  .operations__tab {
    margin-right: 1.2rem;
    /* transform: translateY(-50%); */
  }

  .operations__content {
    padding: 2.5rem 2.4rem 6.5rem 2.4rem;
  }
}

@media (min-height: 63.9em) {
  .header {
    height: 50vh;
  }
}
